<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorypda"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- 导航界面 (主菜单) -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- DO单复核相关Activity -->
        <activity
            android:name=".DoReviewBillActivity"
            android:exported="false" />
        <activity
            android:name=".DoReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DoReviewDifferenceActivity"
            android:exported="false" />
        <!-- 新添加的部门选择Activity -->
        <activity
            android:name=".ReceivingDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".DistributionDepartmentActivity"
            android:exported="false" />

        <!-- 查询界面 -->
        <activity
            android:name=".QueryActivity"
            android:exported="false" />

        <!-- 明细界面 -->
        <activity
            android:name=".DetailActivity"
            android:exported="false" />

        <!-- 分货界面 -->
        <activity
            android:name=".DistributionActivity"
            android:exported="false" />

        <!-- 新添加的Activity -->
        <!-- 收货界面 -->
        <activity
            android:name=".ReceivingActivity"
            android:exported="false" />
        <!-- 绑定区域界面 -->
        <activity
            android:name=".BindAreaActivity"
            android:exported="false" />
        <!-- 查询库位界面 -->
        <activity
            android:name=".QueryLocationActivity"
            android:exported="false" />
        <activity
            android:name=".CabinetFlowActivity"
            android:exported="false"/>
        <activity
            android:name=".AreaQueryActivity"
            android:exported="false"/>
        <activity
            android:name=".CabinetWithdrawActivity"
            android:exported="false" />

        <!-- 新增的批量绑定区域Activity -->
        <activity
            android:name=".AreaBatchBindActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>